/*
 * Nordic nRF52840 Dongle (PCA10059) overlay for MouthPad^USB
 * With Adafruit UF2 Bootloader + SoftDevice S140 6.1.1
 *
 * This uses STOCK Nordic pin assignments per wiki:
 *   LD1 Green: P0.06
 *   LD2 Red: P0.08, Green: P1.09, Blue: P0.12
 *   SW1 Button: P1.06
 *
 * NOTE: For April Brothers dongle, use nrf52840dongle_nrf52840.april.overlay instead!
 *       April Brothers has different physical LED wiring despite claiming compatibility.
 */

&pinctrl {
	pwm1_default: pwm1_default {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 0, 4)>;
		};
	};

	pwm1_sleep: pwm1_sleep {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 0, 4)>;
			low-power-enable;
		};
	};
};

&pwm1 {
	status = "okay";
	pinctrl-0 = <&pwm1_default>;
	pinctrl-1 = <&pwm1_sleep>;
	pinctrl-names = "default", "sleep";
};

/* Override LED aliases for Nordic PCA10059 stock wiring
 *
 * Board default aliases:
 *   led0 -> led0_green (LD1 standalone green - NOT what we want)
 *   led1 -> led1_red (LD2 red channel)
 *   led2 -> led1_green (LD2 green channel)
 *   led3 -> led1_blue (LD2 blue channel)
 *
 * Our code expects:
 *   led0 = RED channel
 *   led1 = GREEN channel
 *   led2 = BLUE channel
 *
 * Nordic PCA10059 LD2 (RGB) wiring per wiki:
 *   led1_red -> P0.08 (physical red)
 *   led1_green -> P1.09 (physical green)
 *   led1_blue -> P0.12 (physical blue)
 *
 * Solution: Remap aliases to use only LD2 (RGB LED)
 */

/ {
	chosen {
		nordic,nus-uart = &cdc_acm_uart0;
		zephyr,console = &cdc_acm_uart1;
		zephyr,shell-uart = &cdc_acm_uart1;
	};

	aliases {
		buzzer-pwm = &pwm1;
		/* Remap LEDs to use only LD2 (RGB) instead of LD1 */
		led0 = &led1_red;    /* RED: LD2 red channel (P0.08) */
		led1 = &led1_green;  /* GREEN: LD2 green channel (P1.09) */
		led2 = &led1_blue;   /* BLUE: LD2 blue channel (P0.12) */
	};

	hid_dev_0: hid_dev_0 {
		compatible = "zephyr,hid-device";
		label = "MouthPad^HID";
		protocol-code = "mouse";
		in-report-size = <64>;
		in-polling-period-us = <1000>;
	};

	buzzer {
		compatible = "pwm-buzzer";
		pwms = <&pwm1 0 1000000 PWM_POLARITY_NORMAL>;
		label = "Passive Buzzer";
	};
};

/* Disable board's default CDC node */
&board_cdc_acm_uart {
	status = "disabled";
};

/* Add dual CDC ACM nodes */
&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
		label = "CDC_ACM_0";
	};

	cdc_acm_uart1: cdc_acm_uart1 {
		compatible = "zephyr,cdc-acm-uart";
		label = "CDC_ACM_1";
	};
};

/* Override default partitions with SoftDevice layout */
/delete-node/ &boot_partition;
/delete-node/ &slot0_partition;
/delete-node/ &slot1_partition;
/delete-node/ &storage_partition;

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		sd_partition: partition@0 {
			label = "softdevice";
			reg = <0x00000000 0x00026000>;
		};

		code_partition: partition@26000 {
			label = "code_partition";
			reg = <0x00026000 0x000c6000>;
		};

		storage_partition: partition@ec000 {
			label = "storage";
			reg = <0x000ec000 0x00008000>;
		};

		boot_partition: partition@f4000 {
			label = "adafruit_boot";
			reg = <0x000f4000 0x0000c000>;
		};
	};
};

/ {
	chosen {
		zephyr,code-partition = &code_partition;
		zephyr,settings-partition = &storage_partition;
	};
};
