/*
 * Copyright (c) 2025 Robert Dale Smith
 * Copyright (c) 2025 Augmental Tech
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/* Alternative pin test overlay for Adafruit Feather nRF52840 */

#include <zephyr/dt-bindings/led/led.h>

/* I2C0 can be used for external displays if connected */
&i2c0 {
	status = "okay";
};

/* Add PWM configuration for passive buzzer on pin A0 (P0.04) */
&pinctrl {
	pwm1_default: pwm1_default {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 0, 4)>; /* A0 pin for buzzer */
		};
	};

	pwm1_sleep: pwm1_sleep {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 0, 4)>;
			low-power-enable;
		};
	};
};

&pwm1 {
	status = "okay";
	pinctrl-0 = <&pwm1_default>;
	pinctrl-1 = <&pwm1_sleep>;
	pinctrl-names = "default", "sleep";
};

/ {
	chosen {
		nordic,nus-uart = &board_cdc_acm_uart;
	};

	aliases {
		buzzer-pwm = &pwm1;
		/* Use NeoPixel for ALL LED functionality - override individual LEDs */
		led0 = &neopixel;
		led1 = &neopixel;
		led2 = &neopixel;
		led-strip = &neopixel;
	};
	
	/* Disable individual LEDs by overriding their status */
	leds {
		compatible = "gpio-leds";
		led0: led_0 {
			status = "disabled";
		};
		led1: led_1 {
			status = "disabled";
		};
	};

	buzzer {
		compatible = "pwm-buzzer";
		pwms = <&pwm1 0 1000000 PWM_POLARITY_NORMAL>; /* 1MHz base period */
		label = "Passive Buzzer";
	};

	/* Try P1.09 - some boards use this pin for NeoPixel */
	neopixel: neopixel {
		compatible = "worldsemi,ws2812-gpio";
		chain-length = <1>;
		color-mapping = <LED_COLOR_ID_RED LED_COLOR_ID_GREEN LED_COLOR_ID_BLUE>; /* RGB order */
		reset-delay = <280>; /* Reset delay in microseconds */
		gpios = <&gpio1 9 0>; /* P1.09 = Alternative NeoPixel pin */
		label = "NeoPixel";
	};
};

&zephyr_udc0 {
	board_cdc_acm_uart: board_cdc_acm_uart {
		compatible = "zephyr,cdc-acm-uart";
	};
};